In [3]:
import utils.constant as constant
import os

from utils.csv_to_db import TALYROND
from dotenv import load_dotenv

load_dotenv()

talyrond = TALYROND(
        path=constant.TALYROND_PATH,
        server=os.getenv('SERVER'),
        database=os.getenv('DATABASE'),
        user_login=os.getenv('USER_LOGIN'),
        password=os.getenv('PASSWORD'),
        table=constant.TALYROND_TABLE,
        table_columns=constant.TALYROND_TABLE_COLUMNS,
        table_log=constant.TALYROND_TABLE_LOG,
        table_columns_log=constant.TALYROND_TABLE_COLUMNS_LOG,
        line_notify_token=os.getenv('LINE_NOTIFY_TOKEN'),
    )


talyrond.run()

Hi this is job run at -- 2023-06-23 09:48:15
{'status': 'info', 'file_name': None, 'process': 'check_floder', 'message': 'found the directory: D:/talyrond_ng', 'error': '-'}
{'status': 'info', 'file_name': None, 'process': 'check_table', 'message': 'found a data_talyrond table', 'error': '-'}
{'status': 'info', 'file_name': None, 'process': 'check_table_log', 'message': 'found a data_talyrond table', 'error': '-'}
{'status': 'info', 'file_name': None, 'process': 'read_path', 'message': 'found: 2 file', 'error': '-'}
{'status': 'info', 'file_name': 'D:/talyrond_ng\\2023\\06\\22\\01_G7258.csv', 'process': 'read_data', 'message': 'csv to pd', 'error': '-'}
{'status': 'info', 'file_name': 'D:/talyrond_ng\\2023\\06\\22\\01_G7258.csv', 'process': 'query_df', 'message': 'query df success', 'error': '-'}
{'status': 'info', 'file_name': 'D:/talyrond_ng\\2023\\06\\22\\01_G7258.csv', 'process': 'check_duplicate', 'message': 'data is not new for update', 'error': '-'}
{'status': 'info', 'file_name': 'D:/talyrond_ng\\2023\\06\\22\\03_G7258.csv', 'process': 'read_data', 'message': 'csv to pd', 'error': '-'}
{'status': 'info', 'file_name': 'D:/talyrond_ng\\2023\\06\\22\\03_G7258.csv', 'process': 'query_df', 'message': 'query df success', 'error': '-'}
{'status': 'info', 'file_name': 'D:/talyrond_ng\\2023\\06\\22\\03_G7258.csv', 'process': 'check_duplicate', 'message': 'data is not new for update', 'error': '-'}
{'status': 'ok', 'file_name': '-', 'process': 'df_to_db', 'message': 'program running done', 'error': '-'}

In [23]:
import pandas as pd
col_names = ['Parts No.','Lot No.','Entry date','M/C No.','Measurement item',
'Measurement value','M/I No.','Individual judgement']
df = pd.read_csv(r'D:\talyrond_ng\2023\06\22\02_G7258.csv',usecols=col_names) #01_G7258 , 02_G7258 , 03_G7258
df.rename(columns = {'Parts No.':'parts_no',
'Lot No.':'lot_no','Entry date':'entry_date','M/C No.':'mc_no',
'Measurement item':'measurement_item',
'Measurement value':'measurement_value','M/I No.':'mi_no',
'Individual judgement':'individual_judgement'}, inplace = True)
df.dropna(inplace=True)
check_ng = df[df['individual_judgement'] == 'NG']

if check_ng.empty:
    print('ok')
    df_result = df.copy()
    df_result = df_result.head(1)
    df_result["checked"] = 'OK'
else:
    print("ng")
    df_result = check_ng.copy()
    df_result['checked'] = 'WAITING'

ng

In [24]:
df

,parts_no,lot_no,entry_date,mc_no,measurement_item,measurement_value,mi_no,individual_judgement
0,2R-830X10ZZMT,Z600200,6/20/2023 8:01:25 PM,IR-02H,Pt,0.3487,TS-01,OK1
1,2R-830X10ZZMT,Z600200,6/20/2023 8:01:25 PM,IR-02H,Ra,0.0084,TS-01,OK1
2,2R-830X10ZZMT,Z600200,6/20/2023 8:01:25 PM,IR-02H,Cv,0.8909,TS-01,NG
3,2R-830X10ZZMT,Z600200,6/20/2023 8:01:25 PM,IR-02H,Cv Diff,0.0179,TS-01,NG

In [25]:
df_result

,parts_no,lot_no,entry_date,mc_no,measurement_item,measurement_value,mi_no,individual_judgement,checked
2,2R-830X10ZZMT,Z600200,6/20/2023 8:01:25 PM,IR-02H,Cv,0.8909,TS-01,NG,WAITING
3,2R-830X10ZZMT,Z600200,6/20/2023 8:01:25 PM,IR-02H,Cv Diff,0.0179,TS-01,NG,WAITING